<ion-app>
  <ion-router-outlet *ngIf="!isLoggedIn"></ion-router-outlet>

  <ion-split-pane contentId="main-content" *ngIf="isLoggedIn">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-menu-toggle auto-hide="false">
          <ion-list>
            <section class="header">
              <ion-label class="title"> {{ activeUser.fullName }} </ion-label>
              <ion-label class="phone">{{ activeUser.phoneNumber }}</ion-label>
            </section>

            <ion-item lines="full" detail="false" [routerLink]="['dashboard']" routerDirection="forward">
              <ion-icon slot="start" name="home-outline" color="primary"></ion-icon>
              <ion-label color="primary"> Dashboard </ion-label>
            </ion-item>

            <ion-item lines="full" detail="false" [routerLink]="['bet']" routerDirection="forward">
              <ion-icon slot="start" name="cash-outline" color="primary"></ion-icon>
              <ion-label color="primary"> Bet </ion-label>
            </ion-item>

            <ion-item lines="full" detail="false" (click)="logout()">
              <ion-icon slot="start" name="log-out-outline" color="primary"></ion-icon>
              <ion-label color="primary"> Log Out </ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
