ion-list {
 padding: 0px;
 margin: 0px; 
}

ion-list-header {
  padding: 0px;
  margin: 0px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  background: #830102;
  color: #fff;
}

.title {
  font-size: large;
  padding-bottom: 5px;
  padding-top: 20px;
}

.phone {
  font-size: small;
  padding-bottom: 20px;
}